In [1]:
import numpy as np
import pandas as pd

### Imprt Alexa Top 1 Million Sites

In [2]:
benign_domain = pd.read_csv('data/top-1m-domain.csv', header=None, names=['Domain'])
benign_domain.head()
benign_domain['DGA_family'] = 'none'
benign_domain['Type'] = 'Normal'
benign_domain =benign_domain[['DGA_family','Domain','Type']]
benign_domain.describe()

       DGA_family            Domain     Type
count     1000000           1000000  1000000
unique          1           1000000        1
top          none  applesofgold.com   Normal
freq      1000000                 1  1000000

### Import 360 dga data

In [13]:
# dga_domain = pd.read_csv('data/360_dga.txt', header=None)
dga_domain = pd.read_table('data/360_dga.txt',names=['DGA_family','Domain','Start_time','End_time'])
dga_domain = dga_domain.iloc[:, 0:2]
dga_domain['Type']='DGA'
# print(dga_domain.head())
dga_domain.describe()

       DGA_family              Domain     Type
count     1169720             1169720  1169720
unique         42             1147770        1
top       banjori  ocgfanarianaqh.com      DGA
freq       452428                   7  1169720

### Import Bambenek Consulting provided malicious algorithmically-generated domains

In [28]:
bambenek_dga_domain = pd.read_csv('data/dga-feed.txt',header=None,sep=',',names=['Domain','DGA_family','time','description_url'])
bambenek_dga_domain = bambenek_dga_domain[['DGA_family','Domain']]
bambenek_dga_domain['Type']='DGA'
dga_familiy_list = list()
# for item in bambenek_dga_domain.iloc[:,0]:
#     temp = item.split(' ')
#     dga_familiy_list.append(temp[3])
# bambenek_dga_domain['DGA_family']=dga_familiy_list
bambenek_dga_domain['DGA_family']=bambenek_dga_domain['DGA_family'].apply(lambda x: x.split(' ')[3])
bambenek_dga_domain.describe()

       DGA_family             Domain    Type
count      846616             846616  846616
unique         35             828202       1
top       banjori  sprydyryirwpyx.cc     DGA
freq       439223                 62  846616

### Combine Alexa Top, Bambenek DGA and 360 Lab DGA

In [25]:
dga_domain = pd.concat([dga_domain,bambenek_dga_domain],axis=0)
dga_domain = dga_domain.drop_duplicates()
df_domain = pd.concat([dga_domain,benign_domain])
df_domain.describe()

       DGA_family            Domain     Type
count     2458863           2458863  2458863
unique         60           2445693        2
top          none  wakeviiugkeq.biz      DGA
freq      1000000                 2  1458863

### Shuffle all data and save data to csv file

In [26]:
df_domain_shuffle = df_domain.sample(frac = 1)
df_domain_shuffle.to_csv('data/mixed_domain.csv', index = False)