## CSYE 7245 Final Project - DGA Detection 

## Data Processing Part


### Course Information
* **School**: College of Engineering, Northeastern University
* **Course Name**: Big-Data Systems and Intelligence Analytics
* **Professor**: Nik Brown

### Group Members
- Haimin Zhang
- Lixi Zhou
- Shiqi Dai

Data link **(Please access Google Drive with Northeastern Account)**:

https://drive.google.com/drive/folders/1m-p5_liIoSeX2pJhfMSCDDtTm3XyTCrq?usp=sharing

In [1]:
import numpy as np
import pandas as pd

### Imprt Alexa Top 1 Million Sites

In [2]:
benign_domain = pd.read_csv('data/top-1m-domain.csv', header=None, names=['Domain'])
benign_domain.head()
benign_domain['DGA_Family'] = 'none'
benign_domain['Type'] = 'Normal'
benign_domain =benign_domain[['DGA_Family','Domain','Type']]
benign_domain.describe()

       DGA_Family    Domain     Type
count     1000000   1000000  1000000
unique          1   1000000        1
top          none  pipl.com   Normal
freq      1000000         1  1000000

### Import 360 dga data

In [3]:
# dga_domain = pd.read_csv('data/360_dga.txt', header=None)
dga_domain = pd.read_table('data/360_dga.txt',names=['DGA_Family','Domain','Start_time','End_time'])
dga_domain = dga_domain.iloc[:, 0:2]
dga_domain['Type']='DGA'
# print(dga_domain.head())
dga_domain.to_csv('data/360_dga_domain.csv', index = False)
dga_domain.describe()

       DGA_Family              Domain     Type
count     1169720             1169720  1169720
unique         42             1147770        1
top       banjori  aswfanarianaqh.com      DGA
freq       452428                   7  1169720

### Import Bambenek Consulting provided malicious algorithmically-generated domains

In [34]:
bambenek_dga_domain = pd.read_csv('data/dga-feed.txt',header=None,sep=',',names=['Domain','DGA_Family','time','description_url'])
bambenek_dga_domain = bambenek_dga_domain[['DGA_Family','Domain']]
bambenek_dga_domain['Type']='DGA'
dga_familiy_list = list()
# for item in bambenek_dga_domain.iloc[:,0]:
#     temp = item.split(' ')
#     dga_familiy_list.append(temp[3])
# bambenek_dga_domain['DGA_family']=dga_familiy_list
bambenek_dga_domain['DGA_Family']=bambenek_dga_domain['DGA_Family'].apply(lambda x: x.split(' ')[3])
bambenek_dga_domain.to_csv('data/bambenek_dga_domain.csv', index = False)
bambenek_dga_domain.describe()

       DGA_Family             Domain    Type
count      872763             872763  872763
unique         52             855571       1
top       banjori  brtlrvpaafplsl.in     DGA
freq       439223                 62  872763

### Combine Alexa Top, Bambenek DGA and 360 Lab DGA

In [35]:
dga_domain = pd.concat([dga_domain,bambenek_dga_domain],axis=0)
dga_domain = dga_domain.drop_duplicates()
df_domain = pd.concat([dga_domain,benign_domain])
df_domain.describe()

       DGA_Family                      Domain     Type
count     2475328                     2475328  2475328
unique         70                     2461354        2
top          none  fasolqkutlbrswhesmjcexk.ru      DGA
freq      1000000                           3  1475328

### Shuffle all data and save data to csv file

In [33]:
df_domain_shuffle = df_domain.sample(frac = 1)
df_domain_shuffle.to_csv('data/mixed_domain.csv', index = False)